@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 10px 20px;
  background: #0091BD;
}
body, input, button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgb(80, 79, 77);
  font-size: 16px;
}
h1 {
  display: inline-block;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
}
.title {
  background: #0091BD;
  color: white;
  margin: 0px -20px;
  padding: 40px 40px;
}
a {
  color: #0091BD;
  text-decoration: none;
}
a:hover { color: #333E48; }
p, li {
  line-height: 23px;
}
h2 {
  font-weight: 300;
}
#sensors { padding: 0; margin-top: -20px; }
#sensors li {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px lightgray;
}
#sensors li p {
  margin: 0;
}
#sensors li label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

#notification {
  position: fixed;
  bottom: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.6s ease-out;
  left: 50%;
  transform: translateX(-50%);
}

#map {
  width: calc(100%);
  height: calc(100vh - 140px);
}

.eui {
  text-align: center;
}

@media(max-width: 600px)
